* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color:black; */
  color: aliceblue;
}
.abhi{
  width: 100%;
  height: 700px;
  background-color:black;
}
div > h1 {
  text-transform: capitalize;
  font-weight: 100;
  font-size: 2.5em;
  word-spacing: 10px;
  /* border: 2px solid rgb(199, 190, 199); */
  border-radius: 20px;
  padding: 1px 8px;
  text-align: center;
  display: inline-block;
}

.btn {
  border: 2px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0px 3px;
  background-color: #f9004d;
  color: aliceblue;
  text-transform: capitalize;
}
.btn:hover {
  transform: scale(1.2);
  background-color: transparent;
  border: 2px solid #f9004d;
  
}

.header {
  background-color: black;
  /* position: relative; */
  top: 15px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
}

.navbar a {
  /* border: 2px solid rgb(50, 184, 38); */
  padding: 2px 5px;
  /* background-color: rgb(12, 66, 66); */
  color: aliceblue;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 70px;
  font-size: 20px;
}
ul li a:hover {
  color: #f9004d;
  transition: 0.4s;
}

#img img {
  border: 2px solid ;
  /* border-radius: 20px; */
  border-bottom-right-radius: 200px;
  /* border-top-left-radius: 100px; */


  margin-top: 20px;
  width: 50%;
  height: fit-content;

}

#img {
  width: 50%;
  text-align: center;
}

#main {
  width: 50%;
  height: auto;
  text-align-last: center;
  background-color: black;
}

#main p {
  /* line-break: loose; */
  text-transform: capitalize;
  /* line-break: auto; */
  margin-right: 20px;
  font-weight: 100px;
  line-height: 50px;

  /* border-bottom: 2px solid orchid; */
}
.col2 {
  font-size: 1.2em;
  word-spacing: 10px;
}
#main .col1 {
  letter-spacing: 5px;
  display: inline;
}

span {
  color: #f9004d;
}

#top {
  /* position: relative; */
  /* top: 20px; */
  width: 100%;
  height: fit-content;
  display: flex;
  /* padding-left :100px;; */
  /* justify-content: space-evenly; */
  align-items: center;
  background-color:black;
  flex-direction: row-reverse;
}

.btn {
  text-transform: capitalize;
  font-size: 1.1em;
  cursor: pointer;
}

.about {
  /* position: relative; */
  /* top: 20px; */
 
  /* border: 2px dotted red; */
  /* text-align: center; */
  width: 100%;
  height: auto;
  background-color: #191919;
  padding-top: 200px ;
  
  
}
.about .main img {

  width: 30%;
  height:fit-content;
  border: 2px solid transparent;
  border-top-right-radius: 50px ;
  border-bottom-left-radius: 50px;
  

}
.about .main{
  /* padding: 20px; */
  width:70%;
  
  /* border: 2px solid yellow;   */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;  
  align-items: center;
}
.main .text{
  /* border: 2px solid blue; */
  width: 60%;
  
  /* word-spacing: 10px; */
  /* letter-spacing: 2px; */
}
.text h2{
  text-transform: capitalize;
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 20px;
}
.text h5{
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.text p{
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 45px;
}
button{
  background-color: #f9004d;
  border: 2px solid transparent;
  font-size: medium;
  font-weight: 700;
  /* letter-spacing: 1px; */
  padding: 3px 16px;
  text-transform: capitalize;
  /* text-align: center; */

}
button:hover{
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}