* {
  width: 100%;
  height: max-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 50%;
  /* background-image: url(../image/logo.jpg); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header.header {
  /* border: 5px solid green; */
  position: sticky;
  top: 50px;
  width: 100%;
  height: fit-content;
  display: inline-block;
  justify-content: space-around;
}
.text {
  padding-left: 50px;
}
.left-side {
  /* border: 2px solid teal; */
  position: absolute;
  top: 20px;
  text-transform: capitalize;
}
.right-side {
  float: right;
  /* overflow: hidden; */
}
.navbar a {
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgb(66, 66, 233);
  border-radius: 25px;
  padding: 2px 15px;
  margin-left: 50px;
  cursor: pointer;
  position: relative;
  top: 20px;
}
.navbar {
  position: relative;
  /* left: 700px; */
  /* display: ; */
  float: right;
  padding-right: 300px;
  /* justify-content: space-between; */
}
.btn {
  width: auto;
  position: relative;
  left: 750px;
  top: -10px;
  font-size: 20px;
  text-transform: uppercase;
  border: 3px solid red;
  display: inline-block;
  border-radius: 23px;
  padding: 2px 15px;
  text-align: center;
}

  

.heading1 {
  position: relative;
  top: 200px;
  width: 100%;
  /* height: 400px; */
  /* border: 20px solid red; */
  text-align: right;
  text-transform: capitalize;
  word-spacing: 5px;
  letter-spacing: 3px;
  display: block;
  /* background-color: rgb(46, 15, 15); */
}
h1{
  /* display: inline-block; */
  padding: 22px 86px 33px 14px;
}
p{
padding-right: 84px;
}
#img{
  position: relative;
  top: 5px;
  width: 50%;
  height: 50%;
  font-size: 1px;
  z-index: -1;
}
#main{
  position:absolute;
  top: 180px;
  
}
h2{
  width: 20%;
  align-items: center;
  justify-content: space-around;
  display: inline-block;
  position:relative;
  top: 350px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50px;
}
.about{
  /* border: solid 2px red; */
  position: absolute;
  top: 500px;
  overflow: hidden;
  align-items: center;
}
#pera{
  height: fit-content;
  position:relative;
  top: 500px;
  width: 50%;
  padding: 2px auto;

}

